<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Locale</th>
      <th>Timezone</th>
      <th>Fetch cnt</th>
      <th>Delivery time</th>
      <th>Interval</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.gender %></td>
        <td><%= user.locale %></td>
        <td><%= user.timezone %></td>
        <td><%= user.fetch_cnt %></td>
        <td><%= user.delivery_time %></td>
        <td><%= user.interval %></td>
        <td><%= user.is_active %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
