<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @user.locale %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @user.timezone %>
</p>

<p>
  <strong>Fetch cnt:</strong>
  <%= @user.fetch_cnt %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @user.delivery_time %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @user.interval %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @user.is_active %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
