<div class="item align-center"><a href="" id="loginBtn"><%= image_tag 'facebook-login.png' %></a></div>
<div class="item align-center" id="status"></div>
<div class="item align-center or-parent"><span class="or"><%= t 'welcome.or' %></span></div>
<ul class="item rows-center switch-form-parent">
  <li class="switch-form <%= @login_switch_form_selected %>"><%= t 'login' %></li>
  <li class="switch-form-separator">|</li>
  <li class="switch-form <%= @signup_switch_form_selected %>"><%= t 'signup' %></li>
</ul>
<% if @error_messages.present? && @error_messages.count > 0 %>
    <div class="item">
    <% @error_messages.each do |msg| %>
        <p class="notice"><%= msg %></p>
    <% end %>
    </div>
<% end %>
<div class="item <%= @hide_login %>">
  <%= form_for(@user, url: welcome_login_path, html: {name: :login}) do |f| %>
      <ul>
        <li class="columns"><%= f.label :email %><%= f.email_field :email %></li>
        <%= fields_for @user.password do |pf| %>
            <li class="columns"><%= pf.label :password %><%= pf.password_field :password %></li>
        <% end %>
      </ul>
      <div class="item buttons">
        <%= f.submit (t 'login'), class: :btn %>
      </div>
  <% end %>
</div>
<div class="item <%= @hide_signup %>">
  <%= form_for(@user, url: welcome_signup_path, html: {name: :signup}) do |f| %>
      <ul>
        <li class="columns"><%= f.label :email %><%= f.email_field :email %></li>
        <%= fields_for @user.password do |pf| %>
            <li class="columns"><%= pf.label :password %><%= pf.password_field :password %></li>
            <li class="columns"><%= pf.label :password_confirmation %><%= pf.password_field :password_confirmation %></li>
        <% end %>
      </ul>
      <div class="item buttons">
        <%= f.submit (t 'signup'), class: :btn %>
      </div>
  <% end %>
</div>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '<%= @facebook_app_id %>',
            cookie     : true,
            xfbml      : true,
            version    : '<%= ENV['FACEBOOK_GRAPH_VERSION'] %>'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    //add event listener to login button
    document.getElementById('loginBtn').addEventListener('click', function(e) {
        e.preventDefault();
        //do the login
        FB.login(function(response) {
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                var redirect_url = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '') + '/fb-login-callback.php';
                window.location.replace(redirect_url);
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('status').innerHTML = 'Please log into this app.';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('status').innerHTML = 'Please log into Facebook.';
            }
        }, {scope: 'public_profile,email,user_likes', return_scopes: true});
    }, false);
</script>