<div class="item align-center"><a href="" id="loginBtn"><%= image_tag 'facebook-login.png' %></a></div>
<div class="item align-center" id="status"></div>
<div class="item align-center or-parent"><span class="or"><%= t 'welcome.or' %></span></div>
<ul class="item rows-center switch_content_parent">
  <li class="switch_content switch_content_first <%= @switch_content_signup_selected %>"><%= t 'signup' %></li>
  <li class="switch_content_separator">|</li>
  <li class="switch_content <%= @switch_content_login_selected %>"><%= t 'login' %></li>
</ul>
<%= form_for(@user, url: welcome_signup_path, html: {name: :signup, class: "item #{@hide_signup} content_first"}) do |f| %>
    <% if @signup_error_messages.present? && @signup_error_messages.count > 0 %>
        <div class="item">
          <% @signup_error_messages.each do |msg| %>
              <p class="notice"><%= msg %></p>
          <% end %>
        </div>
    <% end %>
    <ul>
      <li class="columns"><%= f.label :email %><%= f.email_field :email %></li>
      <%= fields_for @user.password do |pf| %>
          <li class="columns"><%= pf.label :password %><%= pf.password_field :password %></li>
          <li class="columns"><%= pf.label :password_confirmation %><%= pf.password_field :password_confirmation %></li>
      <% end %>
    </ul>
    <div class="item buttons">
      <%= f.submit (t 'signup'), class: :btn %>
    </div>
<% end %>
<%= form_for(@user, url: welcome_login_path, html: {name: :login, class: "item #{@hide_login} content_second"}) do |f| %>
    <% if @login_error_messages.present? && @login_error_messages.count > 0 %>
        <div class="item">
          <% @login_error_messages.each do |msg| %>
              <p class="notice"><%= msg %></p>
          <% end %>
        </div>
    <% end %>
    <ul>
      <li class="columns"><%= f.label :email %><%= f.email_field :email %></li>
      <%= fields_for @user.password do |pf| %>
          <li class="columns"><%= pf.label :password %><%= pf.password_field :password %></li>
      <% end %>
    </ul>
    <div class="item buttons">
      <%= f.submit (t 'login'), class: :btn %>
    </div>
<% end %>

<script>
  var ua = navigator.userAgent.toLowerCase();
  var isIOS = /ip(hone|od|ad)/.test(ua);
  //  var isAndroid = /android/.test(ua);
  //  var isMobile = isIOS || isAndroid;
  var isSafari = /safari/.test(ua);
  var isIOSChrome = /crios/.test(ua);
  var isOpera = /opera/.test(ua);
  var isFacebookIOS = /fbav/.test(ua);
  var isLineIOS = /safari line/.test(ua);
  //TODO Investigate Android Facebook/Line
  //  alert(ua);

  var fb_popup_login = true;
  if(isIOS) {
    if(isIOSChrome || isOpera) {
      // webview
      fb_popup_login = false;
    } else if(isSafari) {
      if(isLineIOS) {
        // webview
        fb_popup_login = false;
      }
    } else {
      // webview
      fb_popup_login = false;
    }
  }
  if(isFacebookIOS) {
    fb_popup_login = true;
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= @facebook_app_id %>',
      cookie     : true,
      xfbml      : true,
      version    : '<%= ENV['FACEBOOK_GRAPH_VERSION'] %>'
    });

    $(document).trigger('fbload');  //  <---- THIS RIGHT HERE TRIGGERS A CUSTOM EVENT CALLED 'fbload'
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  var fb_login_status = false;
  var redirect_url = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '') + '/fb-login-callback.php';
  //MEANWHILE IN $(document).ready()
  $(document).on(
      'fbload',  //  <---- HERE'S OUR CUSTOM EVENT BEING LISTENED FOR
      function(){
        if(! fb_popup_login) {
          FB.getLoginStatus(function(response) {
            if (window.location.search.search(/rdrct=1/) === 1) {
              // redirection from facebook
              if (response.status === 'connected') {
                // Logged into your app and Facebook.
                window.location.replace(redirect_url);
              } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('status').innerHTML = 'Please log into this app.';
              } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('status').innerHTML = 'Please log into Facebook.';
              }
            }
            fb_login_status = response.status;
          });
        }
      });

  //add event listener to login button
  document.getElementById('loginBtn').addEventListener('click', function(e) {
    e.preventDefault();

    if(fb_popup_login) {
      FB.login(function(response) {
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          var redirect_url = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '') + '/fb-login-callback.php';
          window.location.replace(redirect_url);
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          document.getElementById('status').innerHTML = 'Please log into this app.';
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
          document.getElementById('status').innerHTML = 'Please log into Facebook.';
        }
      }, {scope: 'public_profile,email,user_likes', return_scopes: true});
    } else {
      if(! fb_login_status) {
        return;
      }
      //do the login
      if (fb_login_status === 'connected') {
        // Logged into your app and Facebook.
        window.location.replace(redirect_url);
      } else {
        window.location.replace(encodeURI("https://m.facebook.com/dialog/oauth?client_id=<%= @facebook_app_id %>&redirect_uri="+window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '') + '/?rdrct=1' + "&response_type=token&scope=public_profile,email,user_likes"));
      }
    }

//      FB.login(function(response) {
//        if (response.status === 'connected') {
//          // Logged into your app and Facebook.
//          var redirect_url = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '') + '/fb-login-callback.php';
//          window.location.replace(redirect_url);
//        } else if (response.status === 'not_authorized') {
//          // The person is logged into Facebook, but not your app.
//          document.getElementById('status').innerHTML = 'Please log into this app.';
//        } else {
//          // The person is not logged into Facebook, so we're not sure if
//          // they are logged into this app or not.
//          document.getElementById('status').innerHTML = 'Please log into Facebook.';
//        }
//      }, {scope: 'public_profile,email,user_likes', return_scopes: true});
  }, false);
</script>