<div class="item align-center"><a href="" id="loginBtn"><%= image_tag 'facebook-login.png' %></a></div>
<div class="item align-center" id="status"></div>
<% if @user.errors.any? %>
    <div class="item align-center">
    <% @user.errors.full_messages.each do |msg| %>
        <p class="notice"><%= msg %></p>
    <% end %>
    </div>
<% end %>
<div class="item align-center">
  <ul>
    <%= form_for(@user, url: {controller: :welcome, action: :create_user}) do |f| %>
        <li><%= f.label :email %><%= f.text_field :email %></li>
        <li><%= f.submit 'login' %></li>
    <% end %>
  </ul>
</div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '<%= @facebook_app_id %>',
            cookie     : true,
            xfbml      : true,
            version    : '<%= ENV['FACEBOOK_GRAPH_VERSION'] %>'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    //add event listener to login button
    document.getElementById('loginBtn').addEventListener('click', function(e) {
        e.preventDefault();
        //do the login
        FB.login(function(response) {
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                var redirect_url = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '') + '/fb-login-callback.php';
                window.location.replace(redirect_url);
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('status').innerHTML = 'Please log into this app.';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('status').innerHTML = 'Please log into Facebook.';
            }
        }, {scope: 'public_profile,email,user_likes', return_scopes: true});
    }, false);
</script>