<%= render 'account_link' %>
<% @messages.each do |msg| %>
    <p class="notice"><%= msg %></p>
<% end %>
<ul class="delivery-list">
  <% @deliveries.each do |delivery| %>
      <li>
        <p><%= delivery.date.strftime('%F') %></p>
        <p><%= link_to delivery.title, "deliveries/#{delivery.id}" %></p>
        <p><%= link_to image_tag("https://i.ytimg.com/vi/#{delivery.video_id}/hqdefault.jpg"), "deliveries/#{delivery.id}" %></p>
      </li>
  <% end %>
</ul>