<% @messages.each do |msg| %>
    <p class="notice"><%= msg %></p>
<% end %>
<ul class="delivery-list">
  <% @deliveries.each do |delivery| %>
      <li>
        <p><%= delivery.date.strftime('%F') %></p>
        <p><%= link_to delivery.title, "deliveries/#{delivery.id}" %></p>
        <p><a href="<%= "/deliveries/#{delivery.id}" %>"><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://i.ytimg.com/vi/<%="#{delivery.video_id}"%>/hqdefault.jpg" alt="<%= "/deliveries/#{delivery.id}" %>"></a></p>
      </li>
  <% end %>
</ul>