<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title %></title>
  <%= favicon_link_tag %>
  <meta name="description" content="<%= MY_APP['meta']['description'] %>">
  <meta property="og:title" content="<%= @meta_title %>">
  <meta property="og:image" content="<%= @og_image %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:description" content="<%= MY_APP['meta']['description'] %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if controller.controller_name == 'welcome' %>
    <%= render 'header_welcome' %>
<% else %>
    <%= render 'header' %>
<% end %>
<div class="layout-rule">
  <%= yield %>
</div>

</body>
</html>
