<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags ({
      site: 'everyday music',
      description: (t 'meta.description'),
      viewport: 'width=device-width, initial-scale=1.0',
      og: {
          type: :website,
          title: :title,
          image: image_url('og-image.jpg'),
          url: (request.original_url),
          description: :description
      }
  }) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= render 'logo' %>
  <%= yield %>
</div>

</body>
</html>
