<!DOCTYPE html>
<html>
<head>
  <title>everyday music</title>
  <meta name="description" content="<%= MY_APP['meta']['description'] %>">
  <meta property="og:title" content="everyday music">
  <meta property="og:image" content="<%= image_url('og-image.jpg') %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:description" content="<%= MY_APP['meta']['description'] %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= render 'logo' %>
  <%= yield %>
</div>

</body>
</html>
