<p id="notice"><%= notice %></p>
<div>
  <h2><%= t 'account.account' %></h2>
  <ul>
    <li><%= t 'attributes.email' %>: <%= @user.email %></li>
  </ul>
  <div class="item buttons">
    <%= link_to (t 'edit'), edit_account_path, class: :btn %>
  </div>
</div>
<div>
  <h2><%= t 'artists' %></h2>
  <ul class="rows artists">
    <% @user.artists.each do |artist| %>
        <li><%= artist.name %></li>
    <% end %>
  </ul>
</div>
<div class="item buttons">
  <%= link_to (t 'back'), list_path, class: :btn %>
</div>