<div class="item">
  <h2 class="subject"><%= t 'account.account' %></h2>
  <% if notice.present? %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <ul>
    <li><%= t 'attributes.email' %>: <%= @user.email %></li>
    <li><%= t 'account.status' %>: <%= @user_status %></li>
  </ul>
  <div class="item buttons">
    <%= link_to (t 'edit'), edit_account_path, class: :btn %>
  </div>
</div>
<div class="item">
  <h2 class="subject"><%= t 'artists' %></h2>
  <ul class="rows">
    <% @artist_names[0..4].each do |artist_name| %>
        <li class="artist_name"><%= artist_name %></li>
    <% end %>
    <% if @artist_names.count > 5 %>
        <li>and more...</li>
    <% end %>
  </ul>
  <div class="item buttons">
    <%= link_to (t 'edit'), account_artists_path, class: :btn %>
  </div>
  <div class="item buttons">
    <%= link_to 'Facebook からお気に入りのアーティストを取得する', '', class: :btn %>
  </div>
</div>
<div class="item buttons">
  <%= link_to (t 'back'), list_path, class: :btn %>
</div>